.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 300px;
  border-bottom: 1px solid #D3CBD9;
}

.header-container-items {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-align: right;
  text-transform: uppercase;
  color: #858e8a;
}

.header-text {
  margin-bottom: 8px;
}

.header-phone-link {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  transition: color 0.2s;
}

.header-phone-link:hover {
  color: #3596ED;
}